<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/basic">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <script>
        $(document).ready(function(){
            var al = $("#alreadyLiked").val();
            var like = $("#like-push");
            if (al == "true"){
                like.addClass('btn btn-outline-danger');
            }else{
                like.addClass('btn btn-outline-dark');
            }
        });

        $(document).on('click', '#like-push', function(){
            var like = $('#like-push');
            if(like.hasClass('unliked')){
                // like.attr('class', 'liking');
                like.removeClass('btn btn-outline-dark').addClass('btn btn-outline-danger');
            }else{
                like.removeClass('btn btn-outline-danger').addClass('btn btn-outline-dark');
            }
        });

        function clickLikeList(){
            var likes = $("#likes");
            if(likes.css("display") == "block"){
                likes.css("display", "none");
            }else{
                likes.css("display", "block");
            }
        }
    </script>
    <div>
        <input type="hidden" id="postId" th:value="${post.id}">
        <input type="hidden" id="userId" th:value="${session.user.id}">
        <input type="hidden" id="categoryId" th:value="${post.categoryId}">
        <input type="hidden" id="alreadyLiked" th:value="${alreadyLiked}">
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text" id="c">카테고리</span>
        <input type="text" th:value="${post.categoryName}" class="form-control" aria-label="Sizing example input" aria-describedby="c" readonly>
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text">제목</span>
        <input type="text" th:value="${post.title}" class="form-control" readonly>
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text">작성자</span>
        <input type="text" th:value="${post.writerName}" class="form-control" readonly>
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text">내용</span>
        <textarea class="form-control" th:text="${post.content}" aria-label="With textarea" readonly></textarea>
    </div>

    <div th:if='${post.isComplete == true }'>
        <div class="badge bg-dark text-light text-wrap" style="width: 8rem;">
            해결완료
        </div>
    </div>
    <div th:if='${post.isComplete == false }'>
        <div class="badge bg-light text-wrap" style="width: 8rem;">
            미해결 상태
        </div>
    </div>

    <div th:if="${myPost == true}">
        <div th:if='${post.isPublic == true }'>
            <div class="badge bg-light text-wrap" style="width: 8rem;">
                공개 게시글
            </div>
        </div>
        <div th:if='${post.isPublic == false }'>
            <div class="badge bg-dark text-light text-wrap" style="width: 8rem;">
                비공개 게시글
            </div>
        </div>
        <div>
            <a class="btn btn-light" th:href="@{/post/update/{id}(id=${post.id})}">수정</a>
            <input type="button" class="btn btn-light" id="post-delete" value="삭제"/>
        </div>
    </div>
    <div th:unless="${myPost == true}">
        <div>
            <input type="button" id="like-push" value="좋아요"/>
        </div>
    </div>

    <div class="badge bg-danger text-light text-wrap" style="width: 8rem;">
        <span th:text='|게시글 좋아요 - ${post.totalLike} 개|' onclick="clickLikeList()"></span>
    </div>
    <div id="likes" style="display:none;">
        <div th:each="like : ${post.likes}">
            <a class="badge bg-light text-dark" th:text="${like.userName}" href="#"></a>
        </div>
    </div>
</div>
</body>
</html>