<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/basic">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <script>
        $(document).ready(function(){
            $('#post-best').click();
            $('#post-list').click();
        });

        $(document).on('click', '#post-mylist', function(){
            $('#myPost').css('display', 'none');
            $('#allPost').css('display', 'block');

            $('#myTable').css('display', 'block');
            $('#allTable').css('display', 'none');

        });

        $(document).on('click', '#post-list', function(){
            $('#allPost').css('display', 'none');
            $('#myPost').css('display', 'block');

            $('#allTable').css('display', 'block');
            $('#myTable').css('display', 'none');

        });

        $(document).on('click', "input[name='page']", function(){
            var page = $(this).val() - 1;
            $('#offset').val(page*10);

            if($('#allPost').css('display') == 'none'){
                $('#post-list').click();
            }else{
                $('#post-mylist').click();
            }
        });

        $(document).on('click', "input[name='bestPostPage']", function(){
            var page = $(this).val() - 1;
            $('#offset').val(page*10);

            $('#post-best').click();
        });
    </script>

    <div><a class="btn btn-light" th:href="@{/post/create(cateId=${cateId})}">게시글 생성</a></div>

    <div>
        <input type="hidden" th:value="${session.user.id}" id="userId"/>
        <input type="hidden" th:value="${cateId}" id="cateId"/>
        <input type="hidden" id="offset" value="0"/>
        <input type="hidden" id="limit"/>

        <span style="display: none">
            <input type="button" id="post-best"/>
        </span>

        <span id="myPost" style="display: block">
            <input type="button" class="btn btn-light" id="post-mylist" value="나의 게시글 조회"/>
        </span>
        <span id="allPost" style="display: none">
            <input type="button" class="btn btn-light" id="post-list" value="전체 게시글 조회"/>
        </span>

    </div>

    <div>
        <div id="bestTable">
            <h3>베스트 게시글</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">제목</th>
                        <th scope="col">작성자</th>
                        <th scope="col">좋아요</th>
                    </tr>
                </thead>
                <tbody id="bestTableBody">
                </tbody>
            </table>
            <span id="bestPostPages"></span>
        </div>

        <div id="postTable">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">제목</th>
                        <th scope="col">작성자</th>
                    </tr>
                </thead>

                <tbody id="tableBody">
                </tbody>
            </table>
            <span id="pages"></span>
        </div>
    </div>

</div>
</body>
</html>