<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/basic">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script>
    $(document).ready(function(){
        $('#post-best').click();
        $('#post-list').click();
    });

    $(document).on('click', '#post-mylist', function(){
        $('#myPost').css('display', 'none');
        $('#allPost').css('display', 'block');

        $('#myTable').css('display', 'block');
        $('#allTable').css('display', 'none');

    });

    $(document).on('click', '#post-list', function(){
        $('#allPost').css('display', 'none');
        $('#myPost').css('display', 'block');

        $('#allTable').css('display', 'block');
        $('#myTable').css('display', 'none');

    });

    $(document).on('click', "input[name='page']", function(){
        var page = $(this).val() - 1;
        $('#offset').val(page*10);
        $('#post-list').click();
    });

    function goDetail(id){
        location.href='/post/detail/' + id;

    }
</script>

<div layout:fragment="content" id="listView">
    <div><a class="btn btn-light" th:href="@{/post/create(cateId=${cateId})}">게시글 생성</a></div>

    <div>
        <input type="hidden" th:value="${userId}" id="userId"/>
        <input type="hidden" th:value="${cateId}" id="cateId"/>
        <input type="hidden" id="offset" value="0"/>
        <input type="hidden" id="limit"/>

        <span style="display: none">
            <input type="button" id="post-best"/>
        </span>

        <span id="myPost" style="display: block">
            <input type="button" class="btn btn-light" id="post-mylist" value="나의 게시글 조회"/>
        </span>
        <span id="allPost" style="display: none">
            <input type="button" class="btn btn-light" id="post-list" value="전체 게시글 조회"/>
        </span>

    </div>

    <div>
        <div id="bestTable">
            <h3>베스트 게시글</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">제목</th>
                        <th scope="col">작성자</th>
                        <th scope="col">좋아요</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <span th:each="post, i: ${bestPosts}">
                            <th scope="row">${i.count}</th>
                            <td>
                                <span th:text="${post.title}"></span>
                            </td>
                            <td>
                                <span th:text="${post.writer}"></span>
                            </td>
                            <td>
                                <span th:text="${post.likeCount}"></span>
                            </td>
                            <td>
                                <span onclick="'goDetail('+${post.postId}+')'">열람</span>
                            </td>
                        </span>
                    </tr>
                </tbody>
            </table>

        </div>
        <span id="postTable">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">제목</th>
                        <th scope="col">작성자</th>
                        <th scope="col">열람</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <span th:each="post, i: ${postList}">
                            <th scope="row">${i.count}</th>
                            <td>
                                <span th:text="${post.title}"></span>
                            </td>
                            <td>
                                <span th:text="${post.writer}"></span>
                            </td>
                            <td>
                                <span th:onclick="'goDetail('+${post.postId}+')'" th:text="열람"></span>
                            </td>
                        </span>
                    </tr>
                </tbody>
            </table>
            <span th:each="page: ${#numbers.sequence(1,pages)}">
                <input type="button" name="page" th:value="${page}">
            </span>
        </span>
    </div>

</div>
</body>
</html>