<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/basic">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div layout:fragment="content">
    <script>
        $(document).ready(function(){
            if($('#isPublic').is(':checked') == true){
                $('#isPublic').val(true);
            }else{
                $('#isPublic').val(false);
            }

            $(document).on('click', '#isPublic', function(){
                if($('#isPublic').is(':checked') == true){
                    $('#isPublic').val(true);
                }else{
                    $('#isPublic').val(false);
                }
            });

        });
    </script>
    <form>
        <div class="mb-3">
            <input class="form-control" type="text" placeholder="제목" id="title" th:value="${post.title}">
        </div>
        <div class="mb-3">
            <textarea class="form-control" id="content" rows="3" th:text="${post.content}"></textarea>
        </div>

        <div class="mb-3 form-check">
            <input class="form-check-input" type="checkbox" id="isPublic" th:checked="${post.isPublic == true}">
            <label class="form-check-label" for="isPublic">
                공개 여부
            </label>
        </div>

        <div>
            <input type="hidden" id="id" th:value="${post.id}"/>
            <input type="button" class="btn btn-light" id="post-update" value="게시글 저장"/>
        </div>
    </form>
</div>
</body>
</html>