<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/basic">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="mb-5">
            <div th:text="${session.user.name}"></div>
            <div th:text="${session.user.email}"></div>
            <div th:text="${session.user.roleTitle}"></div>
        </div>
        <div>
            <a href="/logout" class="btn btn-light">로그아웃</a>
        </div>
        <div>
            <a href="/signout" onclick="return confirm('탈퇴하시겠습니까?');" class="btn btn-light">탈퇴</a>
        </div>
    </div>
</body>
</html>