<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/basic">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
  <form action="/register" method="post">

      <div>
        <input type="text" placeholder="이메일" name="email"/>
        <span th:if="${#fields.hasErrors('email')}">
          <span th:errors="*{email}"></span>
        </span>
      </div>

      <div>
        <input type="password" placeholder="비밀번호" name="password"/>
        <span th:if="${#fields.hasErrors('password')}">
            <span th:errors="*{password}"></span>
        </span>
      </div>

      <div>
        <input type="text" placeholder="닉네임" name="userName"/>
        <span th:if="${#fields.hasErrors('userName')}">
          <span th:errors="*{userName}"></span>
        </span>
      </div>

      <div>
        <input type="submit" value="회원가입"/>
      </div>
  </form>
</div>
</body>
</html>